<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="PMS.Data" type="PMS.Data.Bases.NetTiersServiceSection, PMS.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    	<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="PMS.Data.ConnectionString" connectionString="Data Source=k-pc;Initial Catalog=PMS_CHUAN;User ID=sa;Password=sa;Max Pool Size=1000;Connect Timeout=15000" />
	</connectionStrings>
	<PMS.Data defaultProvider="SqlNetTiersProvider">
		<providers>
    <!--
    *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add 
        name="SqlNetTiersProvider" 
        type="PMS.Data.SqlClient.SqlNetTiersProvider, PMS.Data.SqlClient"
        connectionStringName="PMS.Data.ConnectionString"
        useStoredProcedure="false"
        providerInvariantName="System.Data.SqlClient"
        entityFactoryType="PMS.Entities.EntityFactory"
		useEntityFactory="true"
		enableEntityTracking="false"
        enableMethodAuthorization="false"
        defaultCommandTimeout="30"
        />
		<!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/PMS/PMSServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="PMS.Data.WebServiceClient.WsNetTiersProvider, PMS.Data.WebServiceClient"
					url="/PMSServices.asmx" />
			-->
		</providers>
	</PMS.Data>
	<system.web>
		<pages theme="default">
			<controls>
				<add tagPrefix="data" namespace="PMS.Web.Data" assembly="PMS.Web"/>
				<add tagPrefix="data" namespace="PMS.Web.UI" assembly="PMS.Web"/>
			</controls>
		</pages>
		<httpModules>
			<add name="EntityTransactionModule" type="PMS.Web.Data.EntityTransactionModule, PMS.Web"/>
		</httpModules>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
	  <sources>
		<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			filePath="entlib.config" />
	  </sources>
    </enterpriseLibrary.ConfigurationSource>
</configuration>
