<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
       <section name="netTiersService"
        type="PMS.Data.Bases.NetTiersServiceSection, PMS.Data"
        allowDefinition="MachineToApplication"
        restartOnExternalChanges="true" />
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  
  <connectionStrings>
    <add name="netTiersConnectionString" connectionString="Data Source=k-pc;Initial Catalog=PMS_CHUAN;User ID=sa;Password=sa;Max Pool Size=1000;Connect Timeout=15000" />
  </connectionStrings>

  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
    <!--
    *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if trueindicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add 
        name="SqlNetTiersProvider" 
        type="PMS.Data.SqlClient.SqlNetTiersProvider, PMS.Data.SqlClient"
        connectionStringName="netTiersConnectionString"
        useStoredProcedure="false"
        providerInvariantName="System.Data.SqlClient"
        entityFactoryType="PMS.Entities.EntityFactory"
		useEntityFactory="true"
		enableEntityTracking="false"
        enableMethodAuthorization="false"
        defaultCommandTimeout="30"
        />
      <!-- 
      	*** WebserviceClient Provider ***
      	The url parameter indicates the webservices url (ex: http://localhost/NorthWind/NorthWindServices.aspx)
      <add 
        name="WsNetTiersProvider" 
        type="PMS.Data.WebServiceClient.WsNetTiersProvider, PMS.Data.WebServiceClient"
        url="http://localhost//PMSServices.asmx"
        />
     -->
    </providers>
  </netTiersService>
  	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
	  <sources>
		<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			filePath="entlib.config" />
	  </sources>
    </enterpriseLibrary.ConfigurationSource>
</configuration>
